.hero-section .login-container,
.hero-section .signup-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 90%;
  width: 95%;
  background-color: white;
  padding: 1em 1.5em;

  display: grid;

  .login-cover-box {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
  }

  .login-form-container form {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 8% auto;

    .form-title {
      display: flex;
      justify-content: space-between;
    }

    span {
      justify-self: center;
    }

    .input-box {
      display: flex;
      flex-direction: column;

      a {
        padding-bottom: 8px;
        border-bottom: 1px solid black;
      }

      input[type="submit"] {
        padding: 8px 0;
        margin: 1.5em 0;
      }

      .input-field {
        margin-bottom: 1em;
        label,
        input {
          display: block;
        }

        input {
          margin: 0.5em 0;
          width: 100%;
          height: 25px;
        }
      }
    }
  }
}

footer {
  height: 40vh;
}

@media only screen and (max-width: 768px) {
  .hero-section .login-container,
  .hero-section .signup-container {
    grid-template-rows: 30% 70%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .hero-section .login-container,
  .hero-section .signup-container {
    grid-template-columns: 50% 50%;
    align-items: center;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .hero-section .login-container,
  .hero-section .signup-container {
    grid-template-columns: calc(100% - 450px) 450px;
    align-items: center;
  }
}
