body .hero-section {
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#ffffff));
  background-image: linear-gradient(#eeeeee, #ffffff);
}

body .hero-section .about-hero-container {
  height: 75%;
  width: 95%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
      grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  -ms-grid-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
      grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

body .hero-section .about-hero-container #aboutContainer {
  -ms-grid-column: 3;
  -ms-grid-column-span: 6;
  grid-column: 3 / span 6;
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  grid-row: 5 / span 2;
}

body .hero-section .about-hero-container #aboutContainer p {
  font-size: 20px;
  letter-spacing: 1px;
}

body .hero-section .about-hero-container #imageBox1 {
  background-image: url("https://images.unsplash.com/photo-1562086780-1c95244efd6b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / span 3;
}

body .hero-section .about-hero-container #imageBox2 {
  background-image: url("https://images.unsplash.com/photo-1530099486328-e021101a494a?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2016&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position: 50% 25%;
  -ms-grid-column: 5;
  -ms-grid-column-span: 6;
  grid-column: 5 / span 6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
}

body .hero-section .about-hero-container #imageBox3 {
  background-image: url("https://images.unsplash.com/photo-1490578474895-699cd4e2cf59?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1951&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -ms-grid-column: 9;
  -ms-grid-column-span: 2;
  grid-column: 9 / span 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / span 2;
}

body .hero-section .about-hero-container #imageBox4 {
  background-image: url("https://images.unsplash.com/photo-1496154704336-6c88a94a019a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -ms-grid-column: 5;
  -ms-grid-column-span: 6;
  grid-column: 5 / span 6;
  -ms-grid-row: 9;
  -ms-grid-row-span: 2;
  grid-row: 9 / span 2;
}

body .hero-section .about-hero-container #imageBox5 {
  background-image: url("https://images.unsplash.com/photo-1508904635850-d986b19765d0?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=934&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -ms-grid-row: 7;
  -ms-grid-row-span: 5;
  grid-row: 7 / span 5;
}

body .hero-section .about-hero-container #imageBox6 {
  background-image: url("https://images.unsplash.com/photo-1554224116-a159ee9c504f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -ms-grid-column: 10;
  -ms-grid-column-span: 1;
  grid-column: 10 / span 1;
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  grid-row: 6 / span 2;
}

body .about-section {
  height: 70vh;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #179b8f;
  display: -ms-grid;
  display: grid;
}

body .about-section .about-slogan {
  width: 100%;
  height: 100%;
  position: relative;
}

body .about-section .about-slogan .slogan {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #383838;
}

body .about-section .about-main {
  width: 85%;
  height: 100%;
  -ms-grid-column-align: center;
      justify-self: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1.5em;
}

@media only screen and (max-width: 500px) {
  body .about-section {
    -ms-grid-rows: 30vh 40vh;
        grid-template-rows: 30vh 40vh;
    width: 500px;
    max-width: 500px;
  }
  body .about-section .slogan {
    font-size: 24px;
  }
}

@media only screen and (min-width: 501px) {
  body .hero-section .about-hero-container {
    height: 75%;
    width: 80%;
  }
}

@media only screen and (min-width: 501px) and (max-width: 768px) {
  .about-section {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
  }
  .about-section .slogan {
    font-size: 22px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 973px) {
  body .about-section {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    display: block;
    position: relative;
    overflow: hidden;
  }
  body .about-section .about-slogan {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 80%;
  }
  body .about-section .about-slogan .slogan {
    width: 300px;
    max-width: 60%;
    left: 10%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    font-size: 26px;
  }
  body .about-section .about-main {
    position: absolute;
    width: 600px;
    max-width: 800px;
    height: 80%;
    top: 50%;
    right: -30%;
    border-bottom-left-radius: 20px;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  body .about-section .about-main .about-content {
    width: 300px;
  }
}

@media only screen and (min-width: 974px) and (max-width: 1200px) {
  body .about-section {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    display: block;
    position: relative;
    overflow: hidden;
  }
  body .about-section .about-slogan {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 80%;
  }
  body .about-section .about-slogan .slogan {
    width: 500px;
    max-width: 60%;
    left: 10%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    font-size: 28px;
  }
  body .about-section .about-main {
    position: absolute;
    width: 800px;
    max-width: 800px;
    height: 80%;
    top: 50%;
    right: -35%;
    border-bottom-left-radius: 20px;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  body .about-section .about-main .about-content {
    width: 400px;
  }
}

@media only screen and (min-width: 1201px) {
  body .about-section {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    display: block;
    position: relative;
    overflow: hidden;
  }
  body .about-section .about-slogan {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 80%;
  }
  body .about-section .about-slogan .slogan {
    width: 500px;
    max-width: 60%;
    left: 10%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    font-size: 30px;
  }
  body .about-section .about-main {
    position: absolute;
    width: 750px;
    max-width: 800px;
    height: 80%;
    top: 50%;
    right: -10%;
    border-bottom-left-radius: 20px;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  body .about-section .about-main .about-content {
    width: 500px;
  }
}
/*# sourceMappingURL=about.css.map */